
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 32px 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper-lists {
  display: flex;
  list-style: none;
}

.nav-wrapper-list {
  margin: 0 20px;
  text-decoration: none;
}

.nav-wrapper-list-alt {
  margin: 0 20px;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: 20px;
}

.nav-link-alt {
  text-decoration: none;
  background-color: #00004D;
  padding: 17px 40px;
  color: white;
  font-weight: 100;
  border-radius: 25px;
}

.nav-img {
  width: 10%;
  height: 100px;
}

.main-title {
  text-align: center;
  font-size: 50px;
  color: #00004D;
  font-weight: 1000;
}

.main-desc {
  text-align: center;
  font-weight: 1000;
  font-size: 25px;
}

.blue {
  color: #00004D;
}



input {
  width: 40%;
  height: 40px;
  border-radius: 13px;
  padding: 0 12px;
  font-size: 20px;
}